mixin sCategories(data)
	// start sCategories
	+b.SECTION.sCategories.section#sCategories&attributes(attributes)
		.container
			
			+e.img-wrap
				div
					+e.link(href="#") Коллекция: gold
					+e.link(href="#") Модель: 31337
				img(src="img/example.png", alt="").res-i
			+e.footer(href="#") узнать больше
				br
				| о коллекциях
	// end sCategories