mixin headerBlock()
	// start headerBlock
	+b.headerBlock.section#headerBlock&attributes(attributes)
		.container
			.back-animation
				<div id="fog"> </div>
				<div id="fog-2"> </div>
				<div id="glow"> </div>
				<div id="light"> </div>
				<div id="stars"> </div>
				<div id="stars-2"> </div>
				<div id="small-stars"> </div>
				<div id="small-stars-2"> </div>
			+e.text--left  The future should look  like the future
			+e.text--right collections website
			+e.img
				img(src="img/head-img.png", alt="")
			+e.logo
				img(src="img/logo-main.png", alt="logo")
						
	// end headerBlock