mixin headerBlock()
	// start headerBlock
	+b.headerBlock.section#headerBlock&attributes(attributes)
		.container
			+e.text--left  The future should look  like the future
			+e.text--right collections website
			+e.img
				img(src="img/head-img.png", alt="")
			+e.logo
				img(src="img/logo-main.png", alt="logo")
						
	// end headerBlock