mixin sAbout(data)
	// start sAbout
	+b.SECTION.sAbout.section#sAbout&attributes(attributes)
		.container
			p CHERVONNYI&nbsp;&mdash; личный фамильный бренд. Под брендом&nbsp;Y создается  мерч, в&nbsp;том числе коллекции  футболок, с&nbsp;описанием идей  которых мы&nbsp;познакомим  вас&nbsp;на&nbsp;этом сайте. 

			p CHERVONNYI&nbsp;&mdash; знак качества!
			img(src="img/about.png", alt="")
	// end sAbout