extends ../layout/main.pug

include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sContact/_sContact.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sAbout/_sAbout.pug
include ../blocks/sCategories/_sCategories.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= null

block title
	- let  title= 'collections'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+parts('header')
	main
		+page-head(title) 
	
		+b.categories
				mixin item(i,p1, p2)
					+b.item-categories(href="#") 
						.img-wrap
							img(src=`img/first_fon/${i}_fon.svg`, loading="lazy", alt="").img-fon.res-i
						.container
							.description
								span= p1
							img(src=`img/first_fon/${i}_img.png`, loading="lazy", alt="").img-img.res-i
				+item('first','first')
				+item('second','second')
				+item('gold','gold collection')
				+item('mix','mix')
				+item('teslab','teslab')
				+item('space','space collection')
				+item('future','the future of fantasy')


	+parts('footer')