extends ../layout/main.pug

include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sContact/_sContact.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sAbout/_sAbout.pug
include ../blocks/sCategories/_sCategories.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= null

block title
	- let  title= 'Golden collection'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+parts('header')
	main
		+page-head(title)
			p Gold collection&nbsp;&mdash; серия футболок, в&nbsp;дизайн которых заложено космическое количество смыслов и&nbsp;тайн. 
				br
				|Это серия про дружбу, работу&nbsp;и...
		
		+b.category-golden
			mixin item(i,t)
				+b.item-golden
					+e.img-wrap(href="#")
						img(src=`img/golden-${i}.png`, loading="lazy", alt="").res-i
					+e.description
						.h3
							a(href="#").text-body= t
						block
			+item('1','31337')
				p 31337 - секретный код, который команда BadStory пронесла сквозь года. Зашифрованное программное слово находится прямо над серцдем.
			+item('2','А что такое BadStory?')
				p Проведена аналогия с играми. В конце  игры главный герой получает награду. В жизни человек в конце дня тоже хочет  получить награду -надежду и поддержку  в завтрашнем дне.
			+item('3','Завтра будет лучше')
				p Ответ на этот вопрос включает в себя 3 составляющие:
					br
					|- Объединение друзей
					br
					|- Котел общих идей
					br
					|- Цех реализации идей

					p Все элементы на принте отвечают  на этот вопрос на языке графики:
						br
						|- Объединение - линии
						br
						|- 3 друзей - 3 прочные фигуры
						br
						|- Котел и цех вдохновляют на идею  ковки и формирование металлических  фигур с метафорой возникновения идей.
			+item('4','Дзынь!')
				p «Дзынь! Доброе утро, страна!» Такой фразой команда BadStory  встречает своих работников перед выплатой денежного поощрения. 
			+item('5','Ну было и было.')
				p «Было и было». Такой фразой заканчивается день/мероприятие, которые были интерес- ными, хоть и прошли не без трудностей. В конце дня команда «bad story» произносит заветную фразу и с облегчением выдыхает.

				p Эмоция облегчения нашла свое отражение  в прямом виде: человек поднимает голову  наверх, и держит руки за ней, смотрит на  небо, отпускает этот день, рядом с ним про- летает птица, как символ легкости, свободы. Но серия имеет особенный стиль. 

				p Поэтому вместо человека - космонавт, вместо  неба - космос, а образ птицы взяла на себя  падающая звезда. Точка - завершение дня.
	+parts('footer')