.soc {
	@include roww(10px, m);
	display: flex;
	&__item {
		text-decoration: none !important;
		vertical-align: middle;
		@include mt;
		display: grid;
		place-items: center;
		&:hover {
			// box-shadow: 0 0 33px 0px rgba(255, 83, 0, 0.16);
			// opacity: .6 ;
		}
	}
	.icon {
		font-size: rem(30);
	}
}

.counter {
	counter-reset: num;
	&__item {
		position: relative;
		&::before {
			content: counter(num);
			counter-increment: num;
		}
	}
}

.addBlock {
	color: var(--color, #{$primary});
	border: 1px solid;
	border-radius: 23px;
	display: flex;
	position: relative;
	overflow: hidden;
	input {
		color: inherit;
		text-align: center;
		border: none;
		height: rem(45);
	}
	&__btn {
		color: inherit;
		height: rem(45);
		position: relative;
		border-radius: 23px;
		background: none !important;
		border: none !important;
		box-shadow: none !important;
		outline: none !important;
		background: transparent;
		// padding-left: rem(8);
		// padding-right: rem(8);
		width: rem(26);
		&::before,
		&::after {
			content: "";
			width: 10px;
			height: 2px;
			background-color: currentColor;
			@include a-cent;
			position: absolute;
		}
		&--plus::after {
			transform: rotate(90deg);
		}
	}
}

.search-block {
	position: relative;
	input {
		font-size: 14px;
		width: 100%;
		border: none !important;
		outline: none !important;
		padding-left: rem(30);
		padding-top: rem(14);
		padding-bottom: rem(14);
	}
	.icon {
		font-size: rem(20);
		border: none !important;
	}
	button {
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		background: none !important;
		border: none !important;
	}
}

.breadcrumb-item {
	width: auto;
	// margin-right: rem(32);
}

.page-head {
	padding-top: var(--sPT);
	padding-bottom: var(--sPB);
	&__back {
		// @include rfs(40px);
		font-size: 1.0333333333rem;
		display: inline-flex;
		align-items: center;
		img {
			margin-right: 0.65666666667rem;
			width: 1rem;
			position: relative;
			transform: rotateY(180deg);
		}
	}
	h1 {
		// min-height: 100;
		margin-top: 0.1em;
		max-width: em(10);
		@include media-breakpoint-up(xxl) {
			// font-size: 175px;
			font-size: 5.8333333333rem;
		}
		@include media-breakpoint-up(sm) {
			@include rfs(145px);
		}
		// @include rfs(65px);
		font-size: calc(3.34167rem + 2.0625vw);
		line-height: 1;
		text-transform: uppercase;
		&::first-letter {
			margin-left: rem(-100);
		}
	}
	&__title {
		position: relative;
		padding-right: rem(122);
		margin-left: rem(100);
		margin-bottom: 1.2rem;
		img {
			position: absolute;
			right: 0;
			// max-height: 2em§;
			max-width: rem(102);
			@include media-breakpoint-up(sm) {
				max-width: 3.0666666667rem;
				padding-top: 0.8rem;
			}
			top: 0;
		}
	}
	p {
		@include media-breakpoint-up(sm) {
			margin-left: rem(100);
		}
		text-wrap: balance;
		// max-width: rem(1100px);
		font-size: rem(40);
	}
}
